.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.contentHeader {
  background-color: #e61659;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contentBody {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
